[submodule "Externals/eigen"]
	path = Externals/eigen
	url = https://github.com/RLovelett/eigen.git
[submodule "Externals/spdlog"]
	path = Externals/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Externals/amgcl"]
	path = Externals/amgcl
	url = https://github.com/ddemidov/amgcl.git
[submodule "Externals/yocto-gl"]
	path = Externals/yocto-gl
	url = https://github.com/xelatihy/yocto-gl.git
[submodule "Externals/glm"]
	path = Externals/glm
	url = https://github.com/g-truc/glm.git
[submodule "Externals/libigl"]
	path = Externals/libigl
	url = https://github.com/libigl/libigl.git
[submodule "Externals/partio"]
	path = Externals/partio
	url = https://github.com/wdas/partio.git
[submodule "Externals/catch"]
	path = Externals/catch
	url = https://github.com/philsquared/Catch.git
[submodule "Externals/cpp_progress_bar"]
	path = Externals/cpp_progress_bar
	url = https://github.com/htailor/cpp_progress_bar.git
[submodule "Externals/progress-cpp"]
	path = Externals/progress-cpp
	url = https://github.com/prakhar1989/progress-cpp.git
[submodule "Externals/tinyobjloader"]
	path = Externals/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
[submodule "Externals/tinyply"]
	path = Externals/tinyply
	url = https://github.com/ddiakopoulos/tinyply.git
